<!-- <app-menu></app-menu> -->
<!-- <app-menu></app-menu> -->

<router-outlet></router-outlet>

<footer>
    <div class="row">
        <div class="column about">

            <h2>FSM</h2>

            <h4>
                Farm Stock Management--->Pure and Natural ✔ Fertlizers, Pesticides and Crops available 24/7!!
            </h4>
            <div class="socials">
                <a href="https://facebook.com"><img src="../../images/icon-facebook.svg" alt="" class="fb"></a>
                <a href="https://twitter.com"><img src="../../images/icon-twitter.svg" alt="" class="twt"></a>
                <a href="https://instagram.com"><img src="../../images/icon-instagram.svg" alt=" " class="insta"></a>
                <a href="https://pinterest.com"><img src="../../images/icon-pinterest.svg" alt="" class="pint"></a>
            </div>
        </div>
        <div class="column links">
            <h3>Some Links</h3>

            <ul>
                <li>
                    <a href="#faq">F.A.Q</a>
                </li>
                <li>
                    <a href="#cookies-policy">Cookies Policy</a>
                </li>
                <li>
                    <a href="#terms-of-services">Terms Of Service</a>
                </li>
                <li>
                    <a href="#support">Support</a>
                </li>
            </ul>

        </div>
        <div class="row copyright">
            <div class="footer-menu">
                <a href="">Home</a>
                <a href="about">About</a>
                <a href="contact">Contact</a>
                <a href="livestock">Livestock</a>
                <a href="login">Login</a>

            </div>
            <p>Copyright &copy; 2022 Farm Stock Management(FSM)</p>
        </div>
    </div>

</footer>