<app-menu></app-menu>

<body>
    <h2><u>COST OF CROPS </u></h2>
    <h4><em>RICE TYPE CROPS</em></h4>
    <table class="center">
        <tr class="top">
            <th>
                <p><strong>Sl.No</strong></p>
            </th>
            <th>
                <p><strong>Rice Name</strong></p>
            </th>

            <th>
                <p><strong>Price/5kg</strong></p>
            </th>
        </tr>
        <tr class="row">
            <td>
                <p>1</p>
            </td>
            <td>
                <p>Culture Ponni Rice/Arisi</p>
            </td>

            <td>
                <p>200</p>
            </td>
        </tr>

        <tr class="row">
            <td>
                <p>2</p>
            </td>
            <td>
                <p>Akshaya Ponni Rice/Arisi</p>
            </td>
            <td>
                <p>190</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>3</p>
            </td>
            <td>
                <p>Karnataka Ponni Rice/Arisi</p>
            </td>
            <td>
                <p>250</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>4</p>
            </td>
            <td>
                <p>Raw Rice(Pacharisi)</p>
            </td>
            <td>
                <p>175</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>5</p>
            </td>
            <td>
                <p>Idly Rice</p>
            </td>
            <td>
                <p>200</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>6</p>
            </td>
            <td>
                <p>Baasmathi Rice</p>
            </td>
            <td>
                <p>425</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>7</p>
            </td>
            <td>
                <p>Barnyard Millet(Kuthiravali Rice)</p>
            </td>
            <td>
                <p>350</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>8</p>
            </td>
            <td>
                <p>Cumid Seeds Rice(Seeraga Samba Rice)</p>
            </td>
            <td>
                <p>410</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>9</p>
            </td>
            <td>
                <p>Javvarisi</p>
            </td>
            <td>
                <p>400</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>10</p>
            </td>
            <td>
                <p>Foxtail Millet(Thinai Arisi)</p>
            </td>
            <td>
                <p>325</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>11</p>
            </td>
            <td>
                <p>Kodo Millet(Varagu Arisi)</p>
            </td>
            <td>
                <p>375</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>12</p>
            </td>
            <td>
                <p>Baasmathi India Gate</p>
            </td>
            <td>
                <p>880</p>
            </td>
        </tr>
    </table>
    <h4><em>PULSES</em></h4>
    <table class="center">
        <tr class="top">
            <th>
                <p><strong>Sl.No</strong></p>
            </th>
            <th>
                <p><strong>Pulses List</strong></p>
            </th>

            <th>
                <p><strong>Price/kg</strong></p>
            </th>
        </tr>

        <tr class="row">
            <td>
                <p>1</p>
            </td>
            <td>
                <p>Dal(Thuvaram)</p>
            </td>

            <td>
                <p>125</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>2</p>
            </td>
            <td>
                <p>Urad Dal(Ulutham Parupu)</p>
            </td>
            <td>
                <p>120</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>3</p>
            </td>
            <td>
                <p>Moongdal(Paasi Parupu)</p>
            </td>
            <td>
                <p>130</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>4</p>
            </td>
            <td>
                <p>Peasant(Kadalai Parupu)</p>
            </td>
            <td>
                <p>80</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>5</p>
            </td>
            <td>
                <p>Black gram</p>
            </td>
            <td>
                <p>120</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>6</p>
            </td>
            <td>
                <p>White gram</p>
            </td>
            <td>
                <p>180</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>7</p>
            </td>
            <td>
                <p>Cow Peas(Thatta Payuru)</p>
            </td>
            <td>
                <p>100</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>8</p>
            </td>
            <td>
                <p>Green gram(Pataani)</p>
            </td>
            <td>
                <p>180</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>9</p>
            </td>
            <td>
                <p>Soya Beans</p>
            </td>
            <td>
                <p>120</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>10</p>
            </td>
            <td>
                <p>Raajma</p>
            </td>
            <td>
                <p>130</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>11</p>
            </td>
            <td>
                <p>Farm Beans(Mochai)</p>
            </td>
            <td>
                <p>120</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>12</p>
            </td>
            <td>
                <p>Green Gram</p>
            </td>
            <td>
                <p>120</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>13</p>
            </td>
            <td>
                <p>Wheat</p>
            </td>
            <td>
                <p>55</p>
            </td>
        </tr>
    </table>
    <div class="option">
        <h3><em>To Buy these Crops,please </em></h3><a href="login">
            <button>Login</button>
        </a>
        <h3>Or </h3>
        <a href="signup"><button>Sign Up</button> </a>
    </div>
</body>