<header>
    <div class="navbar">
        <a href="addproduct">Add Product</a>
        <a href="addStock">Add Stock</a>

        <a class="right" (click)="logOut()">Logout</a>
    </div>
</header>

<body>
    <div class="cart_section">
        <div class="container">
            <h2>Total Stock</h2>

            <table *ngIf="getStock">
                <caption>Stock
                </caption>
                <tr>
                    <th>Product Name</th>
                    <th>Total</th>
                    <th>Order Total</th>
                </tr>
                <tr *ngFor="let stock of getStock">
                    <td *ngIf="stock.product">{{stock.product.productName}}</td>
                    <td>{{stock.total}}</td>
                    <td>{{stock.bln}}</td>
                </tr>
            </table>
        </div>

        <div class="container">
            <h2>User's Order</h2>

            <table *ngIf="getProduct">
                <caption>Stock
                </caption>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                </tr>
                <tr *ngFor="let view of getProduct">
                    <td>{{view.productName}}</td>
                    <td>{{view.quantity}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>