<app-menu></app-menu>

<body>
    <article class="clipper">
        <img src="../../images/fertii.jpg" alt="fertilizer" />
        <img src="../../images/pestii.jpg" alt="pesticides" />
        <img src="../../images/crop1.jpg" alt="agri" />
        <img src="../../images/crop2.jpg" alt="crop" />
    </article>
    <section class="extra-description">
        <div class="img-box">
            <img src="../../images/crops.jpg" alt="Stay productive" />
        </div>
        <div class="text-box">
            <h1>WE ARE AN ORGANISATION</h1>
            <p>
                Crop Stock from our farmers are pure and natural which we can gurantee with our everything. Our
                organisation
                has
                make sure to cover not only Your daily needed Food crops but also we sell out best Fertilizers and
                Pesticides which
                is pretty helpful for Framers but also who is taking little baby steps for Farming like Indoor Farming.
            </p>
            <p>
                Our stocks are pure and natural for which our Farmers give out their literal everything to cultivate
                these
                crops. We hope you'll buy our crops and have a good healthy Life. If you have any query
                feel free to
                contact us anytime❤
            </p>
            <a class="desc-link" href="contact"><span>To Contact Us</span><img src="images/icon-arrow.svg"
                    alt="arrow" /></a>
        </div>
    </section>
    <div class="container">
        <div class="card">
            <div>
                <h3>
                    RESPECT FARMING AND FARMERS
                </h3>
                <p>Farm management is one of the most important resources in operating farms.
                    Farm management determines how the farm-life will be organized, resources allocated
                    and activities performed. So we as a gorup have the best natural stock and also available 24/7.
                    Thank You
                </p>
            </div>
        </div>
    </div>
    <article class="clipper">
        <img src="../../images/agri4.jpg" alt="farm1" />
        <img src="../../images/farmm.jpeg" alt="farm3" />
        <img src="../../images/agri3.jpg" alt="farm2" />
        <img src="../../images/agri5.jpg" alt="farm4" />
    </article>

</body>