<body>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form [formGroup]="buyform" (ngSubmit)="submit()">

                    <div class="row">
                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="fname"><em class="fa fa-user"></em> Full Name</label>
                            <input type="text" id="fname" name="firstname" formControlName="firstname">
                            <label for="email"><em class="fa fa-envelope"></em> Email</label>
                            <input type="text" id="email" name="email" formControlName="email">
                            <label for="adr"><em class="fa fa-address-card-o"></em> Address</label>
                            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street"
                                formControlName="address">
                            <label for="city"><em class="fa fa-institution"></em> City</label>
                            <input type="text" id="city" name="city">

                            <div class="row">
                                <div class="col-50">
                                    <label for="state">State</label>
                                    <input type="text" id="state" name="state" formControlName="state">
                                </div>
                                <div class="col-50">
                                    <label for="zip">Zip</label>
                                    <input type="text" id="zip" name="zip" formControlName="zip">
                                </div>
                            </div>
                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <label for="fname">Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" formControlName="cardname">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"
                                formControlName="cardnumber">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" formControlName="expmonth">
                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">Exp Year</label>
                                    <input type="text" id="expyear" name="expyear" formControlName="expyear">
                                </div>
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" formControlName="cvv">
                                </div>
                            </div>
                        </div>

                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <input type="submit" value="Buy Now" class="btn">
                </form>
            </div>
        </div>
    </div>
</body>