<header>
    <div class="navbar">
        <a href="addproduct">Add Product</a>
        <a href="view">View Stock</a>

        <a class="right" (click)="logOut()">Logout</a>
    </div>
</header>

<body>
    <div class="center">
        <h1>Farm Stock Management</h1>
        <form [formGroup]="stockForm" (ngSubmit)="addStock()">
            <div class="inputbox">
                <select id="productName" formControlName="productName" class="form-control">
                    <option value="{{prod['_id']}}" *ngFor="let prod of productInfo">{{prod.productName}}</option>
                </select>
                <span>Choose Product</span>
            </div>
            <div class="inputbox">
                <input type="number" required="required" id="stockTot" formControlName="stockTot" class="form-control">
                <span>Total Stock</span>
            </div>
            <div class="inputbox">
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>