<app-menu></app-menu>

<body>
    <h2><u>COST OF PESTICIDES </u></h2>

    <table class="center">
        <caption>
        <tr class="top">
            <th>
                <p><strong>Sl.No</strong></p>
            </th>
            <th>
                <p><strong>Pesticide Name</strong></p>
            </th>

            <th>
                <p><strong>Price</strong></p>
            </th>
        </tr>
        <tr class="row">
            <td>
                <p>1</p>
            </td>
            <td>
                <p>Organic Fungicide</p>
            </td>

            <td>
                <p>340</p>
            </td>
        </tr>

        <tr class="row">
            <td>
                <p>2</p>
            </td>
            <td>
                <p> Imidacloprid 70 WG</p>
            </td>
            <td>
                <p>689</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>3</p>
            </td>
            <td>
                <p>Acetamiprid 20 SP Insecticide Pesticide</p>
            </td>
            <td>
                <p>530</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>4</p>
            </td>
            <td>
                <p>Etram Neem Seed Cake Powder 500 gm</p>
            </td>
            <td>
                <p>419</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>5</p>
            </td>
            <td>
                <p>APTA-80 Agriculture Spray Adjuvant</p>
            </td>
            <td>
                <p>699</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>6</p>
            </td>
            <td>
                <p>Emamectin Benzoate 5 SG Pesticide</p>
            </td>
            <td>
                <p>860</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>7</p>
            </td>
            <td>
                <p>Unigrow Neem Cake Powder (5Kg Pack)</p>
            </td>
            <td>
                <p>525</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>8</p>
            </td>
            <td>
                <p>Multiplex Multineem -Bio Organic Neem Oil 300ppm Plant Pesticide</p>
            </td>
            <td>
                <p>500</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>9</p>
            </td>
            <td>
                <p>Unigrow Neem Cake Powder (20Kg Pack)</p>
            </td>
            <td>
                <p>1790</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>10</p>
            </td>
            <td>
                <p>Unigrow Pure Neem Oil (Emulsified) 500ml</p>
            </td>
            <td>
                <p>429</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>11</p>
            </td>
            <td>
                <p>Multi Colour Toran</p>
            </td>
            <td>
                <p>640</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>12</p>
            </td>
            <td>
                <p>500ml GrubNil Bio Pesticide</p>
            </td>
            <td>
                <p>650</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>13</p>
            </td>
            <td>
                <p>900g Sudoz-P Bio Pesticide</p>
            </td>

            <td>
                <p>485</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>14</p>
            </td>
            <td>
                <p>5L NemoFunGo Bio Pesticide</p>
            </td>
            <td>
                <p>4660</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>15</p>
            </td>
            <td>
                <p>900g Verticicoz-P Bio Pesticide</p>
            </td>
            <td>
                <p>550</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>16</p>
            </td>
            <td>
                <p>250ml 3 in1 Natural Pest Control</p>
            </td>
            <td>
                <p>670</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>17</p>
            </td>
            <td>
                <p>Exfert 250ml Fungi Nutraceutical Extracts</p>
            </td>
            <td>
                <p>350</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>18</p>
            </td>
            <td>
                <p>1L BaciSub Bio Pesticide</p>
            </td>
            <td>
                <p>580</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>19</p>
            </td>
            <td>
                <p>500g Tebusul Tebuconazole</p>
            </td>
            <td>
                <p>370</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>20</p>
            </td>
            <td>
                <p>Insecticide</p>
            </td>
            <td>
                <p>170</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>21</p>
            </td>
            <td>
                <p>SSP - 16.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>262.58</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>22</p>
            </td>
            <td>
                <p>Am. Phos. Sulp. Nitrate - 16:20:0:13 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>910.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>23</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>950.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>24</p>
            </td>
            <td>
                <p>Complex NPK - 20:20:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>700.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>25</p>
            </td>
            <td>
                <p>Complex NPK - 10:26:26 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1111.25</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>26</p>
            </td>
            <td>
                <p>Urea(Ind) - 46.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>270.50</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>27</p>
            </td>
            <td>
                <p>DAP - 18:46:00 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1125.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>28</p>
            </td>
            <td>
                <p>Pot. Chloride - K.60.0(MOP) / 50 Kg. Bag</p>
            </td>
            <td>
                <p>785.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>29</p>
            </td>
            <td>
                <p>SSP - 16.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>362.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>30</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13:0.3 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>912.80</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>31</p>
            </td>
            <td>
                <p>Complex NPK - 20:20:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>770.50</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>32</p>
            </td>
            <td>
                <p>Complex NPK - 28:28:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1120.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>33</p>
            </td>
            <td>
                <p>Complex NPK - 10:26:26 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1045.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>34</p>
            </td>
            <td>
                <p>Am. Sulphate - 20.6 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>526.35</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>35</p>
            </td>
            <td>
                <p>Complex NPK - 17:17:17 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>927.00</p>
            </td>
        </tr>
        </caption>
    </table>
    <div class="option">
        <h3><em>To Buy these Pesticides,please </em></h3><a href="login">
            <button>Login</button>
        </a>
        <h3>Or </h3>
        <a href="signup"><button>Sign Up</button> </a>
    </div>
</body>