<app-menu></app-menu>

<body>
    <h2><u>COST OF FERTILIZERS </u></h2>

    <table class="center">
        <caption>cost of fertilizer</caption>
        <tr class="top">
            <th>
                <p><strong>Sl.No</strong></p>
            </th>
            <th>
                <p><strong>Fertilizer Name</strong></p>
            </th>

            <th>
                <p><strong>Price (Unit in Rs./50 kg bag)</strong></p>
            </th>
        </tr>
        <tr class="row">
            <td>
                <p>1</p>
            </td>
            <td>
                <p>Urea - 46.0 / 50 Kg. Bag</p>
            </td>

            <td>
                <p>276.12</p>
            </td>
        </tr>

        <tr class="row">
            <td>
                <p>2</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>368.94</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>3</p>
            </td>
            <td>
                <p>Complex NPK - 20:20:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>466.93</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>4</p>
            </td>
            <td>
                <p>Complex NPK - 16:16:16 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>368.70</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>5</p>
            </td>
            <td>
                <p>TSP - 42.5 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>418.60</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>6</p>
            </td>
            <td>
                <p>Complex NPK - 12:32:16 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>588.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>7</p>
            </td>
            <td>
                <p>Complex NPK - 20:20:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>525.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>8</p>
            </td>
            <td>
                <p>Urea(Ind) - 46.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>268.23</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>9</p>
            </td>
            <td>
                <p>Urea(Imp) - 46.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>265.15</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>10</p>
            </td>
            <td>
                <p>Am. Chloride - 25.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>435.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>11</p>
            </td>
            <td>
                <p>Complex NPK - 12:32:16 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>667.50</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>12</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13:0.3 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>650.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>13</p>
            </td>
            <td>
                <p>Complex NPK - 12:32:16 / 50 Kg. Bag</p>
            </td>

            <td>
                <p>645.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>14</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>539.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>15</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13:0.3 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>554.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>16</p>
            </td>
            <td>
                <p>Complex NPK - 14:28:14 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>664.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>17</p>
            </td>
            <td>
                <p>DAP - 18:46:00 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1222.50</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>18</p>
            </td>
            <td>
                <p>MAP - 11:52:00 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>910.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>19</p>
            </td>
            <td>
                <p>Pot. Chloride - K.60.0(MOP) / 50 Kg. Bag</p>
            </td>
            <td>
                <p>872.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>20</p>
            </td>
            <td>
                <p>Pot. Chloride - K.60.0(MOP) / 50 Kg. Bag</p>
            </td>
            <td>
                <p>840.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>21</p>
            </td>
            <td>
                <p>SSP - 16.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>262.58</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>22</p>
            </td>
            <td>
                <p>Am. Phos. Sulp. Nitrate - 16:20:0:13 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>910.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>23</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>950.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>24</p>
            </td>
            <td>
                <p>Complex NPK - 20:20:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>700.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>25</p>
            </td>
            <td>
                <p>Complex NPK - 10:26:26 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1111.25</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>26</p>
            </td>
            <td>
                <p>Urea(Ind) - 46.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>270.50</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>27</p>
            </td>
            <td>
                <p>DAP - 18:46:00 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1125.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>28</p>
            </td>
            <td>
                <p>Pot. Chloride - K.60.0(MOP) / 50 Kg. Bag</p>
            </td>
            <td>
                <p>785.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>29</p>
            </td>
            <td>
                <p>SSP - 16.0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>362.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>30</p>
            </td>
            <td>
                <p>Am. Phos. Sulphate - 20:20:0:13:0.3 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>912.80</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>31</p>
            </td>
            <td>
                <p>Complex NPK - 20:20:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>770.50</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>32</p>
            </td>
            <td>
                <p>Complex NPK - 28:28:0:0 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1120.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>33</p>
            </td>
            <td>
                <p>Complex NPK - 10:26:26 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>1045.00</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>34</p>
            </td>
            <td>
                <p>Am. Sulphate - 20.6 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>526.35</p>
            </td>
        </tr>
        <tr class="row">
            <td>
                <p>35</p>
            </td>
            <td>
                <p>Complex NPK - 17:17:17 / 50 Kg. Bag</p>
            </td>
            <td>
                <p>927.00</p>
            </td>
        </tr>
    </table>
    <div class="option">
        <h3><em>To Buy these Fertilizers,please </em></h3><a href="login">
            <button>Login</button>
        </a>
        <h3>Or </h3>
        <a href="signup"><button>Sign Up</button> </a>
    </div>
</body>