<app-menu></app-menu>


<body>
    <div class="container">
        <div class="card bright-orange">
            <img src="../../images/ferti.jpg" alt="" width="250px" height="150px" />
            <h3>FERTILIZERS</h3>
            <p>
                Fertilizer, natural or artificial substance containing the chemical elements that improve growth and
                productiveness of plants. Fertilizers enhance the natural fertility or replace chemical
                elements taken from the soil.So see the stock of our
                Fertilizers.
            </p>
            <button class="btn">
                <a href="fertilizer">View Stock</a>
            </button>
        </div>
        <div class="card dark-cyan">
            <img src="../../images/pesti.jpg" alt="" width="250px" height="150px" />
            <h3>PESTICIDES</h3>
            <p>
                Pesticides are used to control various pests and disease carriers, such as mosquitoes, ticks, rats and
                mice. Pesticides are used in agriculture to control weeds, insect infestation and diseases. There are
                many different types of pesticides; each is meant to be effective against specific pests. So see the
                stock of our
                Pesticides.
            </p>
            <button class="btn"> <a href="pesticide">View Stock</a></button>
        </div>
        <div class="card very-dark-cyan">
            <img src="../../images/agri.jpg" alt="" width="250px" height="150px" />
            <h3>CROPS</h3>
            <p>
                Food crops are essential sources of energy to the body. Nowadays, the demand for supply of food crops is
                on the increase. To maintain the balance of food, we need to protect the crops from pathogens which
                could be ectoparasites, viruses, bacteria, oomycetes, fungi, protozoans, or nematodes.So see the stock
                of our Food Crops.
            </p>
            <button class="btn"><a href="crops">
                    View Stock</a></button>
        </div>
    </div>
</body>