<header>
    <div class="navbar">
        <a href="user">Your Details</a>

        <a href="product">View Products</a>

        <a href="cart"><em class="fa fa-shopping-cart"></em>{{cartItem}}</a>
        <a class="right" (click)="logOut()">Logout</a>
    </div>
</header>
<!-- ------------------------------------------------------------------------------------------------------------------ -->
<section class="table">
    <div class="container">
        <h2>Cart</h2>
        <table class="thead fs-poppins text-black bold-700 bg-very-light-gray">
            <caption>Cart</caption>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub-Total</th>
            </tr>
            <tr *ngFor="let getDetail of getcartDetail">
                <td><em class="uil uil-user-circle"></em></td>
                <td>{{getDetail.productName}}</td>
                <td>{{getDetail.productPrice}}</td>
                <td>
                    <button type="button" class="btn3" (click)="inc(getDetail)"> <em class="fa fa-plus"></em></button>
                    {{getDetail.productQnt}}
                    <button type="button" class="btn3" (click)="dec(getDetail)"> <em class="fa fa-minus"></em></button>
                </td>
                <td>₹{{getDetail.productQnt * getDetail.productPrice | number}}</td>
            </tr>
        </table>
        <div class="copen-box flex">

            <div>
                <p> Total:₹ {{total}} </p>
                <button type="button" class="cupen-btn fs-poppins bold-700 text-black" (click)="removeall()">Remove All
                    Items</button><br><br>
                <button type="button" class="cupen-btn fs-poppins bold-700 text-black" (click)="post()">Buy</button>
            </div>
        </div>
    </div>
</section>