<div class="color">
    <ul>
        <button class="btn">
            <img src="../../images/logo1.png" alt="logo" width="100px" height="100px">
            <li><a href=""></a></li>
        </button>
        <button class="btn1">
            <li><a href="">Home</a></li>
        </button>
        <button class="btn1">
            <li><a href="livestock">Stock</a></li>
        </button>
        <button class="btn1">
            <li><a href="about">About Us</a></li>
        </button>
        <button class="btn1">
            <li><a href="login">Login</a></li>
        </button>
        <button class="btn1">
            <li><a href="signup">Sign Up</a></li>
        </button>
        <button class="btn1">
            <li><a href="contact">Contact Us</a></li>
        </button>
        <button class="btn1">
            <li><a href="admin">Admin-Login</a></li>
        </button>

    </ul>
</div>