<app-menu></app-menu>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="../../images/side.gif" alt="" width="110px" height="100px" class="image">
                <h4 class="animate-charcter"> Farm Stock Management </h4>
            </div>
        </div>
    </div>
    <main>
        <article id="article_1">
            <section>
                <h1>Our Farming</h1>
                <p>
                    Here You can Buy Food Crops produced by our Farmers.We are an Society where all the farmers gave out
                    their very hardworking cultivations
                    to all of You people. Pure and Natural Cultivation Crops.
                </p>
                <a href="livestock">SEE MORE
                    <hr />
                </a>
            </section>
            <div class="img-article">
                <img src="../../images/agri2.jpg" alt="farm">
            </div>
        </article>
        <article>
            <div class="img-article">
                <img src="../../images/agri1.jpg" alt="agri">
            </div>
            <section>
                <h1>Our Sales</h1>
                <p>
                    We not only here give out crops of our Farmers but also we sell out Fertilizers and Pesticides
                    produced by our very own Government which is much needed for Farming.So You can here buy the best
                    Crops,
                    Fertlizers and Pesticides any time!
                </p>
                <a href="livestock">SEE MORE
                    <hr />
                </a>
            </section>
        </article>
    </main>
    <br>
    <article class="article-footer">
        <div class="footer-box">
            <img src="../../images/bgi.gif" alt="" id="design">
            <div class="img-text">
                <h1 class="graphic_design">Offers!!</h1>
                <p class="graphic_design">
                    We'd sell our Crops, Fertlizers and Crops in correct and accurate rate,so
                    if you'll become a permanent member in buying our stocks, we also have some
                    exciting Offers and Discount guys🙌
                </p>
            </div>
        </div>
    </article>

</body>