<header>
    <div class="col-md-12 text-right">
    </div>
    <a href="product">Products</a>
</header>

<div class="container">
    <div class="brand-logo">
        <img src="../../images/logo1.png" alt="" width="100px" height="100px">
    </div>
    <div class="brand-title">User Details</div>
    <div class="inputs">
        <form [formGroup]="myform" (ngSubmit)="submit()">
            <div> <label>Firstname :</label>
                <input type="text" name="firstname" class="form-control" id="firstname" formControlName="firstname" />
                <div class="help-block" *ngIf="f.firstname.invalid && f.firstname.touched">
                    <span *ngIf="f.firstname.errors.required">Firstname is required!</span>
                </div>
            </div>
            <div> <label>Lastname :</label>
                <input type="text" name="lastname" class="form-control" id="lastname" formControlName="lastname" />
                <div class="help-block" *ngIf="f.lastname.invalid && f.lastname.touched">
                    <span *ngIf="f.lastname.errors.required">Lastname is required!</span>
                </div>
            </div>
            <div> <label>Aadhar Number :</label>
                <input type="number" name="aadhar" class="form-control" id="aadhar" formControlName="aadhar"
                    placeholder="eg:xxxx xxxx xxxx">
                <div class="help-block" *ngIf="f.aadhar.invalid && f.aadhar.touched">
                    <span *ngIf="f.aadhar.errors?.required">Aadhar Number is required</span>
                </div>
            </div>
            <div> <label>Mobile Number :</label>
                <input type="number" name="mobile" class="form-control" id="mobile" formControlName="mobile">
                <div class="help-block" *ngIf="f.mobile.invalid && f.mobile.touched">
                    <span *ngIf="f.mobile.errors?.required">Mobile Number is required</span>
                </div>
            </div>
            <div> <label>Age :</label>
                <input type="number" name="age" class="form-control" id="age" formControlName="age">
                <div class="help-block" *ngIf="f.age.invalid && f.age.touched">
                    <span *ngIf="f.age.errors?.required">Age Number is required</span>
                </div>
            </div>
            <div> <label>Address :</label>
                <input type="text" name="add" class="form-control" id="add" formControlName="add">
                <div class="help-block" *ngIf="f.add.invalid && f.add.touched">
                    <span *ngIf="f.add.errors?.required">Address is required</span>
                </div>
            </div>
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
                <em class="fa fa-cc-visa" style="color:navy;"></em>
                <em class="fa fa-cc-amex" style="color:blue;"></em>
                <em class="fa fa-cc-mastercard" style="color:red;"></em>
                <em class="fa fa-cc-discover" style="color:orange;"></em>
            </div>
            <div>
                <label for="cname">Name on Card</label>
                <input type="text" id="cname" name="cardname" formControlName="cardname">
                <div class="help-block" *ngIf="f.cardname.invalid && f.cardname.touched">
                    <span *ngIf="f.cardname.errors?.required">Cardname is required</span>
                </div>
            </div>
            <div>
                <label for="ccnum">Credit card number</label>
                <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"
                    formControlName="cardnumber">
                <div class="help-block" *ngIf="f.cardnumber.invalid && f.cardnumber.touched">
                    <span *ngIf="f.cardnumber.errors?.required">Cardname is required</span>
                </div>
            </div>
            <div>
                <label for="expmonth">Exp Month</label>
                <input type="text" id="expmonth" name="expmonth" formControlName="expmonth">
                <div class="help-block" *ngIf="f.expmonth.invalid && f.expmonth.touched">
                    <span *ngIf="f.expmonth.errors?.required">Cardname is required</span>
                </div>
            </div>
            <div>
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" formControlName="expyear">
                <div class="help-block" *ngIf="f.expyear.invalid && f.expyear.touched">
                    <span *ngIf="f.expyear.errors?.required">Cardname is required</span>
                </div>
            </div>
            <div>
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" formControlName="cvv">
                <div class="help-block" *ngIf="f.cvv.invalid && f.cvv.touched">
                    <span *ngIf="f.cvv.errors?.required">Cardname is required</span>
                </div>
            </div>

            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</div>