<app-menu></app-menu>

<body>
    <h1><i>YOU CAN CONTACT US ANYTIME THROUGH ANYTHING</i>
    </h1>
    <h2>
        📧<br>📞<br>📍
    </h2>
    <div class="contact-info">
        <div class="card">
            <img src="../../images/email.png" alt="" width="30px">
            <p>fstockmngmt@gmail.com</p>
        </div>
        <div class="card">
            <img src="../../images/phone.png" alt="" width="30px">
            <p>+9878801234</p>
            <p>+8883450987</p>
        </div>
        <div class="card">
            <img src="../../images/address.png" alt="" width="30px">
            <p>VK1870 Nagar 1st Block 1st 1DCross, HP nagar, Madurai-560016</p>
        </div>
    </div>
</body>