<header>
    <div class="navbar">
        <a href="user">Your Details</a>
        <a (click)="filter('pesticides')">Pesticides</a>
        <a (click)="filter('fertilizers')">Fertilizers</a>
        <a (click)="filter('rice')">Crops-Rice</a>
        <a (click)="filter('pulses')">Crops-Pulses</a>
        <input type="search" name="search" class="search-field" placeholder="Search the products🔎" size="16"
            [(ngModel)]="searchTerm" (keyup)="search($event)">
        <a href="cart"><em class="fa fa-shopping-cart"></em>{{cartItem}}</a>
        <a class="right" (click)="logOut()">Logout</a>
    </div>
</header>

<!-- ------------------------------------------------------------------------------------------------- -->

<section class="product">
    <div class="container text-center">
        <div class="row">
            <ng-conatiner *ngFor="let prd of filterCategory | filter: searchKey: 'productName'">
                <div class="col-md-3">
                    <div class="box">
                        <div class="product_name">
                            <h4>{{prd.productName}}</h4>
                            <img src="{{prd.img}}" alt="products" width="200px">
                        </div>
                        <div class="content">
                            <h4>₹{{prd.productPrice}}</h4>
                            <button type="button" class="btn3" (click)="inc(prd)"> <em class="fa fa-plus"></em></button>
                            <span>{{prd.productQnt}}</span>
                            <button type="button" class="btn3" (click)="dec(prd)"> <em
                                    class="fa fa-minus"></em></button>
                        </div>
                        <button type="button" class="cart_btn" (click)="addCart(prd)">Add to Cart</button>
                    </div>
                </div>
            </ng-conatiner>
        </div>
    </div>
    <br>
    <hr>
    <div class="para">
        <h3><em>
                So here you can buy our Product with how much stocks you want!</em></h3><br>
        <h3><em>It keeps on getting added freshly that you can buy anytime from anywhere</em></h3><br>
        <h3><em>Enjoy your Shopping and have a Great day ahead</em></h3>
    </div>
</section>