@import url("../../../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.product{
    padding: 40px;

}
.box{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    height: 520px;
}
.col-md-3{
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 10px;

}
.content{
    margin-top: 10px;
}

.btn3{
    background: grey;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    margin: 0 8px;
    border: none;
}
.btn3:hover{
  background-color: crimson;
}
.content span{
    font-weight: 800;
    font-size: 18px;
}
.cart_btn{
    border-radius: 4px;
    background:grey;
    color:white;
    font-weight: 600;
    font-size:18px ;
    margin-top: 20px;
    border:none ;
    padding: 4px 16px;
    text-transform: uppercase;
    transition: 0.4s;
}
.cart_btn:hover{
    color:crimson;
    background: transparent;
    border: 1px solid black;
}

 /* ------------ */
 .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  input{
    background-image: linear-gradient(white,grey);
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
  }

  /* ----------------------------- */
  h3 {
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    transform: scale(0.60);
    text-align: center;
    animation: scale 2s forwards cubic-bezier(1, 1, 0.89, 1);
    color: whitesmoke;
  }
  @keyframes scale {
    100% {
      transform: scale(1.2);
    }
  }
  .para{
    background-image: linear-gradient(to right, #434343 0%, black 100%);

  }